<html>
<head>
  <title>Home</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <%- include partials/nav.ejs %>
  <div id="todo-table">
    <h1>This Home page</h1>
  </div>
</body>
</html>
